*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#slideshowSlider{
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  height: 600px;
  position: relative;
}

.slidershowBttns{
  justify-content: center;
  align-items: center;
}


#previousBttn{
  width: 100px;
  height: 50px;
}

#nextBttn{
  width: 100px;
  height: 50px;
  float: right;
}


.slideshowContainter{
  position: relative;
  transform: translateX(0);
  width: 3000px;
  height: 600px;
  left: -1000px;
}

.slideshowContainter::after{
  clear: both;
  display: block;
  content: '';
  }

.slide{
  width: 1000px;
  float: left;
}

.slide img{
  width: 800px;
  height: 600px;
  /* max-width: 100%; */
}

.transition{
  transition: .7s;
}
